html {
  height: 100%;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  margin: 0;
  color: #fff;
  /* Растягиваем body по высоте html */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  margin: 0px;
  height: 100px;
  grid-area: 1 / 1 / 2 / 7;
  background-image: url("images/bg-header.png");
}

.header__content {
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

.nav {
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  list-style: none;
  font-size: 20px;
  padding-inline-start: 0px;
}

.nav li + li {
  padding-left: 15px;
}

.nav__item a:after {
  content: "";
  display: block;
  border-bottom: 3px solid #e1bf37;
  width: 0;
  left: 0;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  transition-delay: 0s;
}

.nav__item a:hover:after {
  width: 100%;
  border-bottom: 3px solid #e1bf37;
}

.nav__item a:hover {
  color: rgb(204, 204, 204);
}

.nav__item a {
  font: 400;
  color: rgb(237, 237, 237);
  text-decoration: none;
}

.nav .navbar {
  grid-area: 2 / 2 / 5 / 3;
  background-color: red;
}
.content {
  grid-area: 2 / 3 / 5 / 6;
  background-color: rgb(237, 237, 237);
  height: 76vh;
}
.footer {
  flex: 0 0 auto;
  grid-area: 5 / 1 / 6 / 7;
  background-image: url("images/bg-header.png");
  height: 230px;
  margin-bottom: 0px;
}

.logo__footer {
  width: 150px;
}

.footer__content {
  max-width: 1200px;
  margin: auto;
  padding-top: 20px;
  display: flex;
  color: rgb(156, 156, 156);
}

.block__one {
  width: 350px;
  border-right: 1px solid rgb(116, 116, 116);
}

.text__footer {
  color: rgb(156, 156, 156);
  width: 200px;
}

.block__two {
  width: 250px;
  border-right: 1px solid rgb(116, 116, 116);
}

.footer__title {
  margin-left: 40px;
  letter-spacing: 1.5px;
}

.nav__footer {
  list-style: none;
  font-size: 15px;
  color: rgb(156, 156, 156);
}

.nav__footer li + li {
  padding-top: 5px;
}

.nav__footer--item a:after {
  display: block;
  width: 0;
  left: 0;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  transition-delay: 0s;
}

.nav__footer--item a:hover:after {
  width: 100%;
}

.nav__footer--item a:hover {
  color: rgb(204, 204, 204);
}

.nav__footer--item a {
  font: 400;
  color: rgb(156, 156, 156);
  text-decoration: none;
}

.block__three {
  width: 250px;
  border-right: 1px solid rgb(116, 116, 116);
}

.follow__list {
  font: 400;
  list-style: none;
  font-size: 15px;
  color: rgb(156, 156, 156);
}

.follow__list--item a {
  font: 400;
  color: rgb(156, 156, 156);
  text-decoration: none;
}

.follow__list--item img {
  height: 12px;
  margin-right: 8px;
}

.follow__list li + li {
  padding-top: 5px;
}

.follow__list--item a:after {
  display: block;
  width: 0;
  left: 0;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
  transition-delay: 0s;
}

.follow__list--item a:hover:after {
  width: 100%;
}

.follow__list--item a:hover {
  color: rgb(204, 204, 204);
}

.block__four {
  position: relative;
  width: 350px;
}
.email__send {
  display: flex;
}

.email__title {
  margin-left: 100px;
}

.input__footer {
  color: rgb(156, 156, 156);
  position: relative;
  opacity: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid rgb(156, 156, 156);
  width: 215px;
  height: 30px;
  margin-left: auto;
  font-size: 15px;
  outline: none;
  caret-color: rgb(156, 156, 156);
}

.send__email {
  position: relative;
  opacity: 100%;
  background: transparent;
  height: 20px;
  padding-bottom: 10px;
  border: none;
}

.send__email img {
  padding-top: 7px;
  height: 15px;
}

.text__footer--newsletter {
  width: 250px;
  margin-left: auto;
}
